.bicycles-bg {
  background-image: linear-gradient(
    to right,
    var(--color-0) 30%,
    var(--color-11) 0
  );
}

.bicycles {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
  background: url("../../assets/dec/top-right.svg") no-repeat top 40px right
    40px;
}
.bicycles-image {
  position: relative;
}

.bicycles-image span {
  background: var(--color-12);
  display: inline-block;
  padding: 8px 16px 8px 8px;
  position: absolute;
  top: 20px;
  right: 0;
  border-radius: 4px 0 0 4px;
}

.bicycles-content {
  display: grid;
  grid-template-columns: 1fr auto;
  align-content: start;
}

.bicycles-content h2,
.bicycles-content p {
  grid-column: 1/-1;
}

.bicycles h2 {
  margin-bottom: 20px;
}

.bicycles h2::before {
  content: "";
  display: block;
  width: 12px;
  height: 8px;
  background-color: var(--color-p1);
  margin-bottom: 8px;
}

.bicycles p {
  margin-bottom: 32px;
}

.bicycles a {
  place-self: end;
}

.bicycles li {
  display: flex;
  align-items: center;
}

.bicycles ul {
  display: grid;
  gap: 16px;
}

.bicycles-content img {
  width: 24px;
  margin-right: 8px;
}

@media (max-width: 800px) {
  .bicycles-bg {
    background: var(--color-11);
  }
  .bicycles {
    grid-template-columns: 1fr;
    gap: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media (max-width: 600px) {
  .bicycles-content {
    grid-template-columns: 1fr;
  }

  .bicycles ul {
    font-size: 1rem;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 32px;
  }

  .bicycles a {
    place-self: start;
  }
}
