.benefits-bg {
  background-color: var(--color-12);
}

.benefits {
  padding-top: 120px;
  padding-bottom: 120px;
}

.benefits h2 {
  margin-bottom: 60px;
}

.benefits ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, max-content));
  gap: 40px 80px;
}

.benefits h3,
.benefits img {
  margin-bottom: 8px;
}

@media (max-width: 800px) {
  .benefits {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .benefits h2 {
    margin-bottom: 40px;
  }

  .benefits ul {
    gap: 20px;
  }
}
