.technology-bg {
  background-color: var(--color-11);
  box-shadow: inset 0 80px var(--color-0), inset 0 -80px var(--color-0);
}

.technology {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.technology-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}

.technology-content {
  padding-top: 160px;
  padding-bottom: 160px;
}

.technology-content > span {
  display: block;
  margin-bottom: 20px;
}

.technology-content h2 {
  margin-bottom: 32px;
}

.technology-content > p {
  margin-bottom: 32px;
}

.technology a {
  margin-bottom: 80px;
}

.technology-advantages {
  display: flex;
  gap: 40px;
}

.technology-advantages h3 {
  margin-bottom: 8px;
  width: max-content;
}

.technology-advantages img {
  width: 24px;
  margin-bottom: 8px;
}

@media (max-width: 800px) {
  .technology-bg {
    box-shadow: initial;
  }
  .technology {
    grid-template-columns: 1fr;
  }

  .technology-content {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .technology-image {
    display: none;
  }

  .technology a {
    margin-bottom: 60px;
  }
}

@media (max-width: 600px) {
  .technology-advantages {
    flex-direction: column;
  }
}
